@media screen and (max-width: 991px) {
    .main-navigation {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 768px) {
    .main-navigation {
        justify-content: center;
    }
    .main-navigation__site-navigation {
        order: 2;
        margin: auto;
        flex-wrap: wrap;
        gap: 20px;
    }
}